{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}课程信息{% endblock %}



{% block page_content %}

<div>
    <div style="float:right;margin:10px 0px 10px 5px">
        <button type="button" class="btn btn-default" id="addData"<span style="color:#008000;background-color:#efefef;font-weight:bold;"></span>>
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
    <table id="table" class="table">
    </table>


</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
    var mainUrl = "{{ mainUrl }}";
</script>
<script src=../static/mindmup-editabletable.js></script>
<script src=../static/base.js></script>
{% endblock %}